@use '../mixins'
@use '../variables'
.text-animated
    background: variables.$gradient-principal
    padding: 2rem
    &-title
        color: variables.$color-white-standard
        font-family: 'Atary_demo'
        font-weight: 400
        font-size: 3rem
        text-align: center